# Import Dependencies

In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.graph_objs as go
from dash.dependencies import Input, Output

/tmp/ipykernel_36113/1260549362.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/tmp/ipykernel_36113/1260549362.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

# Loading Data

In [2]:
app = dash.Dash()
server = app.server

df = pd.read_csv("stock_data.csv")
df2 = pd.read_csv("dataset_Facebook.csv",";")

/home/mohamedalifarag/anaconda3/envs/tf-gpu/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

# Data Pre-processing

In [6]:
df.head()

         Date     Open     High      Low    Close    Volume  OpenInt Stock
0  1984-09-07  0.42388  0.42902  0.41874  0.42388  23220030        0  AAPL
1  1984-09-10  0.42388  0.42516  0.41366  0.42134  18022532        0  AAPL
2  1984-09-11  0.42516  0.43668  0.42516  0.42902  42498199        0  AAPL
3  1984-09-12  0.42902  0.43157  0.41618  0.41618  37125801        0  AAPL
4  1984-09-13  0.43927  0.44052  0.43927  0.43927  57822062        0  AAPL

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19586 entries, 0 to 19585
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     19586 non-null  object
 1   Open     19586 non-null  float64
 2   High     19586 non-null  float64
 3   Low      19586 non-null  float64
 4   Close    19586 non-null  float64
 5   Volume   19586 non-null  int64
 6   OpenInt  19586 non-null  int64
 7   Stock    19586 non-null  object
dtypes: float64(4), int64(2), object(2)
memory usage: 1.2+ MB

In [10]:
df['OpenInt'].unique()

array([0])

In [11]:
df.describe()

,Open,High,Low,Close,Volume,OpenInt
count,19586.000000,19586.000000,19586.000000,19586.000000,1.958600e+04,19586.0
mean,37.408582,37.881571,36.906405,37.406667,8.100395e+07,0.0
std,59.492049,60.287797,58.622548,59.480058,7.982366e+07,0.0
min,0.067200,0.067200,0.067200,0.067200,0.000000e+00,0.0
25%,1.412300,1.440600,1.384100,1.412300,3.385552e+07,0.0
50%,19.649500,19.933000,19.363000,19.640000,6.294731e+07,0.0
75%,38.605000,39.075750,38.229250,38.655500,1.010604e+08,0.0
max,386.690000,389.610000,379.345000,385.000000,2.069770e+09,0.0

In [12]:
df = df.drop(['OpenInt'],axis=1)
df

             Date       Open       High        Low      Close    Volume Stock
0      1984-09-07    0.42388    0.42902    0.41874    0.42388  23220030  AAPL
1      1984-09-10    0.42388    0.42516    0.41366    0.42134  18022532  AAPL
2      1984-09-11    0.42516    0.43668    0.42516    0.42902  42498199  AAPL
3      1984-09-12    0.42902    0.43157    0.41618    0.41618  37125801  AAPL
4      1984-09-13    0.43927    0.44052    0.43927    0.43927  57822062  AAPL
...           ...        ...        ...        ...        ...       ...   ...
19581  2017-11-06  178.56000  180.45000  178.31000  180.17000  13275578    FB
19582  2017-11-07  180.50000  180.74800  179.40300  180.25000  12903836    FB
19583  2017-11-08  179.79000  180.35000  179.11000  179.56000  10467606    FB
19584  2017-11-09  178.31000  179.40000  177.09000  179.30000  12602188    FB
19585  2017-11-10  178.35000  179.10000  177.96000  178.46000  11060355    FB

[19586 rows x 7 columns]

In [13]:
df['Stock'].unique()

array(['AAPL', 'TSLA', 'MSFT', 'FB'], dtype=object)

In [14]:
df['Open'].max()

386.69

In [15]:
df['Open'].min()

0.0672

In [16]:
max_stock = df.groupby(df['Stock'])['High'].agg(max)
max_stock.values

array([175.61, 182.9 ,  86.2 , 389.61])

In [17]:
max_stock.index

Index(['AAPL', 'FB', 'MSFT', 'TSLA'], dtype='object', name='Stock')

In [18]:
volume_stock = df.groupby(df['Stock'])['Volume'].agg(max)
volume_stock.value_counts

<bound method IndexOpsMixin.value_counts of Stock
AAPL    2069769775
FB       580438450
MSFT    1371330506
TSLA      37149894
Name: Volume, dtype: int64>

In [19]:
volume_stock_min = df.groupby(df['Stock'])['Volume'].agg(min)
volume_stock_min.value_counts

<bound method IndexOpsMixin.value_counts of Stock
AAPL          0
FB      5913000
MSFT          0
TSLA          0
Name: Volume, dtype: int64>

In [20]:
volume_stock_min = df.groupby(df['Stock'])['Volume'].agg(min)
volume_stock_min.value_counts

<bound method IndexOpsMixin.value_counts of Stock
AAPL          0
FB      5913000
MSFT          0
TSLA          0
Name: Volume, dtype: int64>

In [21]:
max_open_date = df.groupby(df['Date'])['Open'].agg(max)
max_open_date.value_counts

<bound method IndexOpsMixin.value_counts of Date
1984-09-07      0.42388
1984-09-10      0.42388
1984-09-11      0.42516
1984-09-12      0.42902
1984-09-13      0.43927
                ...
2017-11-06    307.00000
2017-11-07    301.02000
2017-11-08    305.50000
2017-11-09    302.50000
2017-11-10    302.50000
Name: Open, Length: 8366, dtype: float64>

In [22]:
min_open_date = df.groupby(df['Date'])['Open'].agg(min)
min_open_date.value_counts

<bound method IndexOpsMixin.value_counts of Date
1984-09-07     0.42388
1984-09-10     0.42388
1984-09-11     0.42516
1984-09-12     0.42902
1984-09-13     0.43927
                ...
2017-11-06    84.20000
2017-11-07    84.77000
2017-11-08    84.14000
2017-11-09    84.11000
2017-11-10    83.79000
Name: Open, Length: 8366, dtype: float64>

In [23]:
max_stock_close = df.groupby(df['Stock'])['Close'].agg(max)
max_stock_close.value_counts

<bound method IndexOpsMixin.value_counts of Stock
AAPL    175.61
FB      182.66
MSFT     84.56
TSLA    385.00
Name: Close, dtype: float64>

In [24]:
min_stock_close = df.groupby(df['Stock'])['Close'].agg(min)
min_stock_close.value_counts

<bound method IndexOpsMixin.value_counts of Stock
AAPL     0.23051
FB      17.73000
MSFT     0.06720
TSLA    15.80000
Name: Close, dtype: float64>

In [25]:
min_stock_close.sort_values()

Stock
MSFT     0.06720
AAPL     0.23051
TSLA    15.80000
FB      17.73000
Name: Close, dtype: float64

In [17]:
min_stock_low = df.groupby(df['Stock'])['Low'].agg(min)
min_stock_low.sort_values()

Stock
MSFT     0.06720
AAPL     0.23051
TSLA     8.03000
FB      17.55000
Name: Low, dtype: float64

In [18]:
max_stock_low = df.groupby(df['Stock'])['Low'].agg(max)
max_stock_low.sort_values()

Stock
MSFT     84.0825
AAPL    174.2700
FB      180.5700
TSLA    379.3450
Name: Low, dtype: float64

In [21]:
max_stock_high = df.groupby(df['Stock'])['High'].agg(max)
max_stock_high.sort_values()

Stock
MSFT     86.20
AAPL    175.61
FB      182.90
TSLA    389.61
Name: High, dtype: float64

In [22]:
min_stock_high = df.groupby(df['Stock'])['High'].agg(min)
min_stock_high.sort_values()

Stock
MSFT     0.06720
AAPL     0.23564
TSLA    16.63000
FB      18.27000
Name: High, dtype: float64

In [26]:
df2.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [27]:
df2['Type'].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

In [28]:
df2['Paid'].unique()

array([ 0.,  1., nan])

In [29]:
df2['Category'].unique()

array([2, 3, 1])

In [30]:
df2 = df2.drop(['Paid'],axis=1)
df2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [31]:
df2.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Lifetime Post Total Reach                                            500 non-null    int64
 7   Lifetime Post Total Impressions                                      500 non-null    int64
 8   Lifetime Engaged Users                                               500 non-null    int64
 9   Lifetime Post Consumers                                              500 non-null    int64
 10  Lifetime Post Consumptions                                           500 non-null    int64
 11  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 12  Lifetime Post reach by people who like your Page                     500 non-null    int64
 13  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 14  comment                                                              500 non-null    int64
 15  like                                                                 499 non-null    float64
 16  share                                                                496 non-null    float64
 17  Total Interactions                                                   500 non-null    int64
dtypes: float64(2), int64(15), object(1)
memory usage: 70.4+ KB

In [32]:
max_likes_cat = df2.groupby(df2['Page total likes'])['Category'].agg(max)
max_likes_cat.value_counts()

3    62
1    18
2    10
Name: Category, dtype: int64

In [33]:
max_likes_cat = df2.groupby(df2['Page total likes'])['Category'].agg(max)
max_likes_cat.value_counts()

3    62
1    18
2    10
Name: Category, dtype: int64

In [34]:
post_like_h = df2.groupby(df2['like'])['Post Hour'].agg(max)
post_like_h.value_counts

<bound method IndexOpsMixin.value_counts of like
0.0       10
1.0        8
2.0       19
3.0       15
4.0       17
          ..
1572.0    10
1622.0    10
1639.0    13
1998.0    14
5172.0     5
Name: Post Hour, Length: 257, dtype: int64>

In [35]:
max_tot_inter_h = df2.groupby(df2['Post Hour'])['Total Interactions'].agg(max)
max_tot_inter_h.sort_values()

Post Hour
19       2
16      84
18     120
22     125
23     135
15     210
8      217
17     237
20     280
1      387
9      409
7      429
11     515
6      572
12     713
2     1009
4     1136
3     1626
13    1873
10    1974
14    2177
5     6334
Name: Total Interactions, dtype: int64

In [36]:
min_tot_inter_h = df2.groupby(df2['Post Hour'])['Total Interactions'].agg(min)
min_tot_inter_h.sort_values()

Post Hour
9       0
2       0
4       0
8       0
10      0
15      2
19      2
12      3
13      5
17      5
7       6
14      6
6       7
18      7
11      7
5       9
3      39
1      50
16     84
22    125
23    135
20    280
Name: Total Interactions, dtype: int64

In [37]:
tot_interacr_pos_mon = df2.groupby(df2['Total Interactions'])['Post Month'].agg(max)
tot_interacr_pos_mon.value_counts(sort=True,ascending=True)

1      4
3      7
2     12
5     18
6     19
8     22
9     22
4     24
7     29
11    36
10    40
12    47
Name: Post Month, dtype: int64

In [38]:
tot_interacr_pos_day = df2.groupby(df2['Total Interactions'])['Post Weekday'].agg(max)
tot_interacr_pos_day.value_counts(sort=True)

7    66
6    57
4    44
5    35
3    33
2    23
1    22
Name: Post Weekday, dtype: int64

In [39]:
tot_interacr_pos_h = df2.groupby(df2['Total Interactions'])['Post Hour'].agg(max)
tot_interacr_pos_h.value_counts(sort=True,ascending=True)

20     1
22     1
23     1
16     1
19     1
1      2
17     3
18     3
8      4
15     5
5      6
7      6
6      8
2     10
9     12
14    13
4     15
12    21
11    29
3     45
10    46
13    47
Name: Post Hour, dtype: int64

In [40]:
tot_comment_pos_h = df2.groupby(df2['comment'])['Post Hour'].agg(max)
tot_comment_pos_h.value_counts(sort=True,ascending=True)

19    1
23    1
18    1
20    1
22    1
5     1
15    2
17    2
2     2
11    3
3     3
14    4
4     4
12    5
10    7
13    8
Name: Post Hour, dtype: int64

In [41]:
tot_comment_pos_d = df2.groupby(df2['comment'])['Post Weekday'].agg(max)
tot_comment_pos_d.value_counts(sort=True,ascending=True)

1     3
3     3
5     4
2     4
6     6
4     7
7    19
Name: Post Weekday, dtype: int64

In [42]:
tot_comment_pos_m = df2.groupby(df2['comment'])['Post Month'].agg(max)
tot_comment_pos_m.value_counts(sort=True,ascending=True)

8      1
4      1
2      1
1      2
6      2
7      2
5      3
10     5
9      5
11     7
12    17
Name: Post Month, dtype: int64

In [43]:
max_shar_m = df2.groupby(df2['share'])['Post Month'].agg(max)
max_shar_m.value_counts(sort=True,ascending=True)

3      1
5      2
2      2
8      3
1      3
4      4
7      7
9      9
10    11
11    15
12    31
Name: Post Month, dtype: int64

In [44]:
max_shar_d = df2.groupby(df2['share'])['Post Weekday'].agg(max)
max_shar_d.value_counts(sort=True,ascending=True)

3     3
1     4
2     4
4     9
5    10
6    16
7    42
Name: Post Weekday, dtype: int64

In [45]:
max_shar_h = df2.groupby(df2['share'])['Post Hour'].agg(max)
max_shar_h.value_counts(sort=True,ascending=True)

19     1
20     1
23     1
16     1
22     1
6      1
17     2
15     2
4      2
2      3
18     3
5      3
12     5
14     6
11     7
10    11
3     13
13    25
Name: Post Hour, dtype: int64

# UI Dashboard

In [3]:
app.layout = html.Div([
    # Setting the main title of the Dashboard
    html.H1("Stocks Data Analysis", style={"textAlign": "center"}),
    # Dividing the dashboard in tabs
    dcc.Tabs(id="tabs", children=[
        # Defining the layout of the first Tab
        dcc.Tab(label='Stock Prices', children=[
            html.Div([
                html.H1("Big Players Stocks High vs Lows", 
                        style={'textAlign': 'center'}),
                # Adding the first dropdown menu and the subsequent time-series graph
                dcc.Dropdown(id='my-dropdown',
                             options=[{'label': 'Tesla', 'value': 'TSLA'},
                                      {'label': 'Apple','value': 'AAPL'}, 
                                      {'label': 'Facebook', 'value': 'FB'}, 
                                      {'label': 'Microsoft','value': 'MSFT'}], 
                             multi=True,value=['FB'],
                             style={"display": "block", "margin-left": "auto", 
                                    "margin-right": "auto", "width": "60%"}),
                dcc.Graph(id='highlow'),
                html.H1("Market Volumes", style={'textAlign': 'center'}),
                # Adding the second dropdown menu and the subsequent time-series graph
                dcc.Dropdown(id='my-dropdown2',
                             options=[{'label': 'Tesla', 'value': 'TSLA'},
                                      {'label': 'Apple','value': 'AAPL'}, 
                                      {'label': 'Facebook', 'value': 'FB'},
                                      {'label': 'Microsoft','value': 'MSFT'}], 
                             multi=True,value=['FB'],
                             style={"display": "block", "margin-left": "auto", 
                                    "margin-right": "auto", "width": "60%"}),
                dcc.Graph(id='volume')
            ], className="container"),
        ]),
        # Defining the layout of the second tab
        dcc.Tab(label='Performance Metrics', children=[
            html.H1("Facebook Metrics Distributions", 
                    style={"textAlign": "center"}),
            # Adding a dropdown menu and the subsequent histogram graph
            html.Div([
                      html.Div([dcc.Dropdown(id='feature-selected1',
                      options=[{'label': i.title(),
                                'value': i} for i in df2.columns.values[1:]], 
                                 value="Type")],
                                 className="twelve columns", 
                                 style={"display": "block", "margin-left": "auto",
                                        "margin-right": "auto", "width": "60%"}),
                    ], className="row",
                    style={"padding": 50, "width": "60%", 
                           "margin-left": "auto", "margin-right": "auto"}),
                    dcc.Graph(id='my-graph2'),
        ])
    ])
])

# Adding an Interactivity for Dashboard

In [4]:
@app.callback(Output('highlow', 'figure'),
              [Input('my-dropdown', 'value')])
def update_graph(selected_dropdown):
    dropdown = {"TSLA": "Tesla","AAPL": "Apple","FB": "Facebook","MSFT": "Microsoft",}
    trace1 = []
    trace2 = []
    for stock in selected_dropdown:
        trace1.append(
          go.Scatter(x=df[df["Stock"] == stock]["Date"],
                     y=df[df["Stock"] == stock]["High"],
                     mode='lines', opacity=0.7, 
                     name='High {dropdown[stock]}',textposition='bottom center'))
        trace2.append(
          go.Scatter(x=df[df["Stock"] == stock]["Date"],
                     y=df[df["Stock"] == stock]["Low"],
                     mode='lines', opacity=0.6,
                     name='Low {dropdown[stock]}',textposition='bottom center'))
    traces = [trace1, trace2]
    data = [val for sublist in traces for val in sublist]
    figure = {'data': data,
              'layout': go.Layout(colorway=["#5E0DAC", '#FF4F00', '#375CB1', 
                                            '#FF7400', '#FFF400', '#FF0056'],
            height=600,
            title=f"High and Low Prices for {', '.join(str(dropdown[i]) for i in selected_dropdown)} Over Time",
            xaxis={"title":"Date",
                   'rangeselector': {'buttons': list([{'count': 1, 'label': '1M', 
                                                       'step': 'month', 
                                                       'stepmode': 'backward'},
                                                      {'count': 6, 'label': '6M', 
                                                       'step': 'month', 
                                                       'stepmode': 'backward'},
                                                      {'step': 'all'}])},
                   'rangeslider': {'visible': True}, 'type': 'date'},
             yaxis={"title":"Price (USD)"})}
    return figure


@app.callback(Output('volume', 'figure'),
              [Input('my-dropdown2', 'value')])
def update_graph(selected_dropdown_value):
    dropdown = {"TSLA": "Tesla","AAPL": "Apple","FB": "Facebook","MSFT": "Microsoft",}
    trace1 = []
    for stock in selected_dropdown_value:
        trace1.append(
          go.Scatter(x=df[df["Stock"] == stock]["Date"],
                     y=df[df["Stock"] == stock]["Volume"],
                     mode='lines', opacity=0.7,
                     name=f'Volume {dropdown[stock]}', textposition='bottom center'))
    traces = [trace1]
    data = [val for sublist in traces for val in sublist]
    figure = {'data': data, 
              'layout': go.Layout(colorway=["#5E0DAC", '#FF4F00', '#375CB1', 
                                            '#FF7400', '#FFF400', '#FF0056'],
            height=600,
            title=f"Market Volume for {', '.join(str(dropdown[i]) for i in selected_dropdown_value)} Over Time",
            xaxis={"title":"Date",
                   'rangeselector': {'buttons': list([{'count': 1, 'label': '1M', 
                                                       'step': 'month', 
                                                       'stepmode': 'backward'},
                                                      {'count': 6, 'label': '6M',
                                                       'step': 'month', 
                                                       'stepmode': 'backward'},
                                                      {'step': 'all'}])},
                   'rangeslider': {'visible': True}, 'type': 'date'},
             yaxis={"title":"Transactions Volume"})}
    return figure


@app.callback(
    dash.dependencies.Output('my-graph2', 'figure'),
    [dash.dependencies.Input('feature-selected1', 'value')])
def update_graph(selected_feature1):
    if selected_feature1 == None:
        selected_feature1 = 'Type'
        trace = go.Histogram(x= df2.Type,
                             marker=dict(color='rgb(0, 0, 100)'))
    else:
        trace = go.Histogram(x=df2[selected_feature1],
                         marker=dict(color='rgb(0, 0, 100)'))

    return {
        'data': [trace],
        'layout': go.Layout(title=f'Metrics considered: {selected_feature1.title()}',
                            colorway=["#EF963B", "#EF533B"], hovermode="closest",
                            xaxis={'title': "Distribution", 
                                   'titlefont': {'color': 'black', 'size': 14},
                                   'tickfont': {'size': 14, 'color': 'black'}},
                            yaxis={'title': "Frequency", 
                                   'titlefont': {'color': 'black', 'size': 14, },
                                   'tickfont': {'color': 'black'}})}

# Server Running

In [5]:
app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Nov/2021 12:32:09] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:32:09] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:32:09] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:32:09] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:32:09] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:32:09] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:32:10] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:32:10] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:32:10] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:35:24] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:35:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:35:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:35:39] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:37:33] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:37:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:55:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 12:55:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:14:47] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:14:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:15:05] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:22:55] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:23:06] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:24:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:24:46] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:24:51] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:25:05] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:25:09] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:25:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:25:38] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:25:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:25:53] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:25:56] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:26:01] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:26:04] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:26:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:26:13] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:26:16] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:26:20] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:34:38] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:34:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:34:43] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:34:43] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:34:44] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:37:48] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 13:37:57] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:10:33] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:10:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:11:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:11:39] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:11:43] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:11:48] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:21:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:21:55] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:42:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:42:13] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:43:27] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:43:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:43:57] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:44:00] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:44:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:44:41] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:44:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:45:46] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:45:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:45:57] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:46:05] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:46:19] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:46:33] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:46:45] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:46:57] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:47:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:47:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:47:38] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:47:54] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:48:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:51:27] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 14:51:29] "POST /_dash-update-component HTTP/1.1" 200 -